// 登录框设置的
.el-row {
  margin-bottom: 15px;
}
.el-row:last-child {
  margin-bottom: 0;
}

// 头部设置的
.el-header {
  padding: 0 10px !important;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--el-border-color-light);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  z-index: 998;
  & > div {
    display: flex;
    align-items: center;
  }
}
.el-breadcrumb {
  font-size: 18px !important;
}
.el-switch {
  .el-icon {
    font-size: 20px !important;
  }
}

// 侧边设置的
.el-aside {
  height: 100vh;
  background-color: $menu-bgc !important;
}
.el-menu {
  border-right: 0 !important;
  a {
    text-decoration: none;
  }
}
.el-menu-item {
  color: $menu-tc !important;
  background: $menu-bgc;
  &:hover {
    background-color: $menu-bgc-hover !important;
  }
  &.is-active {
    color: $menu-tc-active !important;
  }
}
.el-sub-menu {
  background-color: $menu-bgc !important;
  .el-sub-menu__title {
    color: $menu-tc;
    &:hover {
      background-color: $menu-bgc-hover !important;
    }
  }
  .el-menu-item {
    background-color: $menu-bgc-strong;
  }
}

// 内容设置的
.el-main {
  padding: 0 !important;
  overflow: hidden;
}

.el-tabs__header {
  height: 44px !important;
  padding: 6px 10px !important;
  margin-bottom: 0 !important;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  z-index: 997;
  .el-tabs__nav {
    border-radius: 0;
    border: none !important;
  }
  .el-tabs__item {
    height: 32px;
    padding: 0 6px !important;
    border: 1px solid var(--el-border-color-light) !important;
    // transition: none !important;
    margin-left: 0 !important;
    &:not(:last-child) {
      margin-right: 5px;
    }
    &.is-active {
      color: white;
      background-color: #409eff;
      border-color: #409eff;
    }
    .is-icon-close {
      width: 14px !important;
      transition: none;
    }
  }
}
