/* 浅色皮肤 */
$light-color: black;
$light-main-background-color: #eff6fc;

/* 深色皮肤 */
$dark-color: white;
$dark-main-background-color: #201f1e;

/* 侧边栏 */
$sidebar-background-color: #304156;
$sidebar-background-color-strong: #1f2d3d;
$sidebar-background-color-hover: #001528;
$sidebar-text-color: #bfcbd9;
$sidebar-text-color-strong: rgb(48, 157, 230);
